body{
    background-color: lightblue;
}
.poetsen-one-regular{
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}  
.fat{
    color: #1a73e8;
    text-decoration: none;
}
h3, p{
    display: inline;
}
.lot{
    color: #1a73e8;
    text-decoration: none;
}
.brrrr{
    color: #1a73e8;
    text-decoration: none;
}
.klose{
    height: 315px; 
    width: 60%;
    display: block;
    margin: auto;
}
.nazario{
    height: 315px; 
    width: 60%;
    display: block;
    margin: auto;
}
.muller{
    height: 315px; 
    width: 60%;
    display: block;
    margin: auto;
}
.just{
    height: 315px; 
    width: 60%;
    display: block;
    margin: auto;
}
.messi{
    height: 315px; 
    width: 60%;
    display: block;
    margin: auto;
}
.mbappe{
    height: 315px; 
    width: 60%;
    display: block;
    margin: auto;
}
.pele{
    height: 315px; 
    width: 60%;
    display: block;
    margin: auto;
}
.jurgen{
    height: 315px; 
    width: 60%;
    display: block;
    margin: auto;
}
.sandor{
    height: 315px; 
    width: 60%;
    display: block;
    margin: auto;
}
.batistuta{
    height: 315px; 
    width: 60%;
    display: block;
    margin: auto;
}
.cubillas{
    height: 315px; 
    width: 60%;
    display: block;
    margin: auto;
}